[submodule "panda"]
	path = panda
	url = ../../budney/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../budney/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../budney/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../budney/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../budney/rednose.git
[submodule "body"]
	path = body
	url = ../../commaai/body.git
